.column {
    margin-bottom: 10px;
}
.card {
    display: flex !important;
    flex-direction: column !important;
    height: 350px;
}
.card-footer {
    margin-top: auto !important;
    height: 50px;
}
.required-field {
    display: inline !important;
}
